h1{
    text-align: center;
    position: absolute;
    width:100%;
}


body{
  
    background-color: rgb(150, 153, 153);
}

button{
    background-color: azure;
}

.ajust{

    margin-left: 35px;
}